
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Auto Safe Sistema de Seguros </title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Auto Safe</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="~/LoginWeb/EsqueceuSenha">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Cpf ou CNPJ" name="cpf" type="text" maxlength="15" autofocus>
                                </div>
                                <div class="form-group">
                                    <label>
                                        data nascimento ou data cadastro
                                    </label>
                                    <input class="form-control" placeholder="dd/mm/yyyy" name="datanasc" type="date" value="">

                                </div>

                                
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nova senha" name="senha" type="password" max="20" value="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block" value="Alterar">Salvar</button>
                                
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


