
@{
    ViewBag.Title = "Index";
}


<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Auto Safe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href=~/Content/dataDesigner/"favicon.png">
    <link rel="stylesheet" href="~/Content/dataDesigner/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/dataDesigner/css/animate.css">
    <link rel="stylesheet" href="~/Content/dataDesigner/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/dataDesigner/css/slick.css">
    <link rel="stylesheet" href="~/Content/dataDesigner/js/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/Content/dataDesigner/css/autosafe.css">
    <link rel="stylesheet" href="~/Content/dataDesigner/js/modernizr.custom.32033.js" )

</head>
<body>


    <div class="pre-loader">
        <div class="load-con">
            <img src="~/Content/dataDesigner/img/autosafe/logo.png" class="animated fadeInDown" alt="">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

    <header>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="fa fa-bars fa-lg"></span>
                    </button>
                    <a class="navbar-brand" href="~/Content/dataDesigner/index.html">
                        <img src="~/Content/dataDesigner/img/autosafe/logo.png" alt="" class="logo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about">Serviços</a>
                        </li>
                        <li>
                            <a href="#features">Aplicativo</a>
                        </li>
                        <li>
                            <a href="#reviews">Equipe</a>
                        </li>
                        <li>
                            <a href="#getApp">Plataforma</a>
                        </li>
                        <li>
                            <a class="Login" data-toggle="modal" data-target="#myModal">Login</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-->
        </nav>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">

                        <div class="banner">
                            <img src="~/Content/dataDesigner/img/autosafe/faix.png" alt="">
                        </div>

                        <div class="panel-body">

                            <form role="form" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Cpf ou CNPJ" name="cpf" type="text" maxlength="15" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Senha" name="senha" type="password" maxlength="20" value="">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Lembrar senha">Lembrar senha
                                        </label>
                                    </div>
                                    <a href="~/LoginWeb/CarregaEsqueceuSenha">Esqueceu sua senha</a>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" class="btn btn-lg btn-success btn-block" value="Logar">Logar</button>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!--RevSlider-->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="~/Content/dataDesigner/img/transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfl fadeout hidden-xs"
                             data-x="left"
                             data-y="bottom"
                             data-hoffset="30"
                             data-voffset="0"
                             data-speed="500"
                             data-start="700"
                             data-easing="Power4.easeOut">
                            <img src="~/Content/dataDesigner/img/autosafe/Slides/iphone.png" alt="">
                        </div>
                        <div class="tp-caption lfl fadeout visible-xs"
                             data-x="left"
                             data-y="center"
                             data-hoffset="700"
                             data-voffset="0"
                             data-speed="500"
                             data-start="700"
                             data-easing="Power4.easeOut">
                            <img src="~/Content/dataDesigner/img/autosafe/samsung.png" alt="">
                        </div>
                        <div class="tp-caption large_white_bold sft" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut">
                            Auto Safe
                        </div>
                        <div class="tp-caption large_white_light sfb" data-x="550" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut">
                            Integração de Seguradora.
                        </div>
                        <div class="tp-caption sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
                            <a href="#about" class="btn btn-primary inverse btn-lg">Saiba Mais</a>
                        </div>
                        <div class="tp-caption sfr hidden-xs" data-x="730" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1500" data-start="1900" data-easing="Power4.easeOut">
                            <a data-toggle="modal" data-target="#myModal" class="btn btn-default btn-lg">Login</a>
                        </div>



                    </li>
                    <!-- SLIDE 2 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="~/Content/dataDesigner/img/transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfb fadeout hidden-xs"
                             data-x="center"
                             data-y="bottom"
                             data-hoffset="0"
                             data-voffset="0"
                             data-speed="500"
                             data-start="700"
                             data-easing="Power4.easeOut">
                            <img src="~/Content/dataDesigner/img/autosafe/Slides/slide2.png" alt="">
                        </div>

                        <div class="tp-caption large_white_light sft" data-x="center" data-y="250" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1400" data-easing="Power4.easeOut">
                            Sempre a Mão <i class="fa fa-car"></i>
                        </div>


                    </li>
                    <!-- SLIDE 3 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="~/Content/dataDesigner/img/transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption customin customout hidden-xs"
                             data-x="right"
                             data-y="center"
                             data-hoffset="0"
                             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-voffset="50"
                             data-speed="500"
                             data-start="700"
                             data-easing="Power4.easeOut">
                            <img src="~/Content/dataDesigner/img/autosafe/Slides/aparelhos.png" alt="">
                        </div>
                        <div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
                            Agilidade
                        </div>
                        <div class="tp-caption mediumlarge_light_white sft hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
                            Qualidade
                        </div>
                        <div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
                            <p>O processo de Sinistro nunca foi tão fácil. <br> Conheça o serviço de integração do Auto Safe<br>Um processo inteligente e transparente.</p>
                        </div>

                    </li>

                </ul>
            </div>
        </div>

    </header>

    <div class="wrapper">

        <section id="about">
            <div class="container">

                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Para Segurados e Dependentes</h1>
                    <div class="divider"></div>
                    <p>Serviços</p>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <i class="fa fa-plus-square fa-2x"></i>
                            <h3>Abertura de Sinistro</h3>
                            <p>Auto Safe App permite aos segurados e seus depedentes realizar todos o processo de abertura de sinistro sem um unico telefonema.</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <i class="fa fa-clock-o fa-2x"></i>
                            <h3>Tempo Estimado Guincho</h3>
                            <p>Auto Safe App permite aos segurados e seus depedentes saber o tempo estimado de chegado do guincho.</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <i class="fa fa-search fa-2x"></i>
                            <h3>Selecionar Oficinas</h3>
                            <p>Auto Safe App permite aos segurados e seus depedentes selecionar oficinas mais próximas ou oficinas de sua escolha .</p>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <i class="fa fa-search-minus fa-2x"></i>
                            <h3>Consulta de Sinistro</h3>
                            <p>Auto Safe App permite aos segurados e seus depedentes acompanhar o processo do seu sinistro de perto, através do painel dinamico com status atual do veiculo com informações sobre os serviço realizado.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <i class="fa fa-star-half-o fa-2x"></i>
                            <h3>Avaliação dos Serviços</h3>
                            <p>Auto Safe App permite que usuário avaliem a plataforma, as oficinas e seus serviços</p>
                        </div>
                    </div>

                </div>


                <div class="container">

                    <div class="section-heading scrollpoint sp-effect3">
                        <h1>Para Seguradoras e Oficinas</h1>
                        <div class="divider"></div>
                        <p>Serviços</p>
                    </div>
                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="about-item scrollpoint sp-effect2">
                                <i class="fa fa-bolt fa-2x"></i>
                                <h3>Elétrica</h3>
                                <p>Auto Safe disponibiliza todos os serviços relacionados a elétrica do veículo das oficinas credenciadas.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="about-item scrollpoint sp-effect5">
                                <i class="fa fa-cogs fa-2x"></i>
                                <h3>Mecânica</h3>
                                <p>Auto Safe disponibiliza todos os serviços relacionados a mecânica do veículo das oficinas credenciadas.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="about-item scrollpoint sp-effect5">
                                <i class="fa fa-tint fa-2x"></i>
                                <h3>Funilaria</h3>
                                <p>Auto Safe disponibiliza todos os serviços relacionados a funilaria do veículo das oficinas credenciadas.</p>
                            </div>
                        </div>







                    </div>

                </div>

        </section>
        <section id="features">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Aplicativo</h1>
                    <div class="divider"></div>
                    <p>Conheça a interface do Auto Safe</p>
                </div>
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="~/Content/dataDesigner/img/autosafe/samsung_sinistro.png" class="img-responsive scrollpoint sp-effect5" alt="">
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="~/Content/dataDesigner/img/autosafe/samsung_menu.png" class="img-responsive scrollpoint sp-effect5" alt="">
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="~/Content/dataDesigner/img/autosafe/samsung_aber.png" class="img-responsive scrollpoint sp-effect5" alt="">
                    </div>

                </div>
            </div>
    </div>
    </section>


    </section>


    <section id="reviews">
        <div class="container">
            <div class="section-heading inverse scrollpoint sp-effect3">
                <h1>Equipe</h1>
                <div class="divider"></div>
                <p>Auto Safeadores</p>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-push-1 scrollpoint sp-effect3">
                    <div class="review-filtering">
                        <div class="review">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="review-person">
                                        <img src="~/Content/dataDesigner/img/autosafe/time/vinicius.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="review-comment">
                                        <h3>Web Developer</h3>
                                        <p>
                                            Vinicius C Lima
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review rollitin">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="review-person">
                                        <img src="~/Content/dataDesigner/img/autosafe/time/eron.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="review-comment">
                                        <h3>Technical Documentation</h3>
                                        <p>
                                            Eron F Almeida

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review rollitin">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="review-person">
                                        <img src="~/Content/dataDesigner/img/autosafe/time/joao.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="review-comment">
                                        <h3>Software Tester and Technical Documentation</h3>
                                        <p>
                                            João P. Bernardelli

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="review rollitin">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="review-person">
                                        <img src="~/Content/dataDesigner/img/autosafe/time/lucas.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="review-comment">
                                        <h3>Database Analyst and Technical Documentation</h3>
                                        <p>
                                            Lucas Lima

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="review rollitin">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="review-person">
                                        <img src="~/Content/dataDesigner/img/autosafe/time/claudio.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="review-comment">
                                        <h3>Technical Documentation and Designer</h3>
                                        <p>
                                            Claudio M Silva

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="review rollitin">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="review-person">
                                        <img src="~/Content/dataDesigner/img/autosafe/time/francisco.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="review-comment">
                                        <h3>Android Developer</h3>
                                        <p>
                                            Francisco F Junior

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="getApp">
        <div class="container-fluid">
            <div class="section-heading inverse scrollpoint sp-effect3">
                <h1>Plataforma <i class="fa fa-android fa-3x pull-left"></i></h1>

                <div class="divider"></div>
                <p>Disponivel somente para Android</p>

            </div>
        </div>


    </section>

    <footer>


        <img src="~/Content/dataDesigner/img/autosafe/faix.png" alt="" class="logo">

        <div class="section-heading inverse scrollpoint sp-effect3">

            <p>Auto Safe &copy; 2016</p>

            <div class="divider"></div>
        </div>
    </footer>
    </div>
    <script src="~/Content/dataDesigner/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/dataDesigner/js/bootstrap.min.js"></script>
    <script src="~/Content/dataDesigner/js/slick.min.js"></script>
    <script src="~/Content/dataDesigner/js/placeholdem.min.js"></script>
    <script src="~/Content/dataDesigner/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="~/Content/dataDesigner/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/dataDesigner/js/waypoints.min.js"></script>
    <script src="~/Content/dataDesigner/js/scripts.js"></script>
    <script>
        $(document).ready(function() {
            appMaster.preLoader();
        });
    </script>
</body>
</html>
